@font-face {
    font-family: 'Game of Thrones';
    src: url('GameofThrones.woff2') format('woff2'),
        url('GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

